extends base.jade

block search

block title
	title= "404 - Page not found."

block content

	.category-info
		.category-words
			.category-title
				h1 404
			.category-description
				h3 Page not found.
		.clear