extends base.jade

block bloginfo

block content

	.autopagerize_page_element:.content
		.post.animated.fadeInDown
			.blog-info
				h2 About
				p(style="font-size:16px;") hi,
				p(style="font-size:16px;") I am Bearye.
				br
				p(style="font-size:16px;") I am an amateur photography lover, 
				p(style="font-size:16px;") this is a site for parking my own photos.
				br
				p(style="font-size:16px;") Want to learn more about me？
				p(style="font-size:16px;") or want to contact me?
				p(style="font-size:16px;") 
					a(href="http://nooooe.cn",target="_blank",style="font-size:16px;") Point this link,go to my blog.