/*basic styles starts*/
html {
	-webkit-font-smoothing: antialiased;
}

body {
	color: #333;
	font-family: "SF Pro Text","SF Pro Display","SF Pro Icons",'PingHei', 'PingFang SC',"Helvetica Neue","Helvetica","Arial",sans-serif,'Microsoft YaHei',sans-serif;
	font-size: 16px;
	width: 100%;
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.9em;
	font-weight: 400;
	margin: 0;
}

a {
  	color: #555;
  	outline:none;
  	text-deco

	&:link, &:visited{
	  	text-decoration: underline;
	}
	&:hover, &:active{
	}
}

h1, h2, h3, h4, h5, h6{
	text-rendering: optimizeLegibility;
}

.topNav{
  .avatar{
		float:left;
	img{
		width: 42px;
    	height: auto;
    	margin-right: 20px;
    	border-radius: 50%;
	}
  }
}

.markdown ul li{
    padding: 3px 0;
}

.markdown .todo_undone_item {
    color: #555 !important;
}

.markdown ul{
    margin: 2em 0 !important;
}

/*basic styles ends*/

.main{
	margin: 30px auto;
}

.blog-info{
  	margin: 50px auto !important;
  	a{
	  font-size: 14px;
	  text-decoration: underline;
	  color:#de3429;
  	}
	ul{
		list-style: none;
		padding-left: 0;
	}
	li.author-avatar{
		float:left;
	}
  	li.author-avatar img{
		width: 32px;
		border-radius: 32px;
  	}
  	li.author-name{
		font-size:16px;
  	}
	li{
	  	line-height: 32px;
	  	padding-right: 10px;
	}
}

.paginator, .post_page, .post-info, .blog-info, .category-info, .nav{
	max-width: 920px;
	padding: 0px 20px;
	height: auto;
	margin: 0 auto;
	margin-top:30px;
}


.list_with_title .container{
	width: 720px;
	margin: 0 auto;
}

.header {
  	width:720px;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,.05);
    padding-bottom: 15px;



	.site_title_container{
		padding: 0 0px;

		h1 {
			line-height: 1;
			margin:0;
		}
		a {
			text-decoration: none;
			font-weight: bold;
			float: left;
		}

		.site_title{
			a {
				font-size: 28px;
				width: 65px;
				letter-spacing: 2px;
				line-height: 1.2;
				color: #000;

				&:hover{
					color: #666;
				}
			}
			a.long{
				width: 95px;
			}
			a.long_long{
				width: 160px;
			}
		}

		.search {
		  	padding-bottom: 15px;
			float: right;
			position: absolute;
			right: 0;
			bottom: 0;
		  	#search_bar{
		      	float: right;
			  	input{
					outline: none;
    				border: none;
    				margin-left: 7px;
    				color: #a9a9a9;
    				width: 120px;
			  }
		  	}
		}
	}

	.my_socials {
		list-style: none;
		font-size: 14px;
		float: right;
		margin: 5px 0px;

		i{
			margin-left: 10px;
		}

		a {
			color: #5f5f5f;
			font-size: 12px;
			float: none;
			cursor:pointer;
			&:hover{
				color: #000;
			}
		}
	}
}

.bitcron_nav {
    display: block !important;
}

.site_nav li{
	float: left;
	margin-right: 15px;
}

.site_nav_wrap{
	float: left;
}

.site_nav a{
	padding:12px 0 !important;
	margin-right:15px;
}

.site_nav a.current{
  text-decoration: underline;
}

.site_nav a:hover {
    color: #262626 !important;
    text-decoration: underline;
}

.site_nav a.current:before{
	content: ""!important;
}

.content{
  	.search{
  		font-size: 25px;
  	}
	#search_bar{
	  input{
	  	background: rgba(0, 0, 0, 0.04);
    	width: 100%;
    	height: 40px;
    	border: 0;
    	border-radius: 3px;
    	padding: 5px;
    	font-size: 25px;
    	outline: none;
    	margin: 20px 0 40px 0;
	  }
	}
}

.post-image{
  img{
  	width: 100%;
    background-position: center;
    background-size: cover;
  }
}


.post {
	background-color: #FFF;
	.post_title{
		padding: 10px 0;
		h2 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.4rem;
			line-height: 1;
			font-weight: 600;
			color: #1F1F1F;
			margin: 0;

		}
		a {
			text-decoration: none;
			letter-spacing: 1px;
			color: #1F1F1F;
			font-size: 1.4rem;
			line-height: 28px;
		}
		span{
			color: rgba(0,0,0,.44);
			font-size: 14px;
		}
		span.date{
			font-size: 12px;
		}
	}

	.post_detail_title{
		h2{
			font-size: 1.5rem;
			font-weight: bold;
		}
	}

	.list {
		p {
			padding-bottom: 0px !important;
		}
	}

	.post_content{
		word-break: break-all;

		p {
			line-height: 2em;
			letter-spacing: 0.2px;
		    text-align: justify;
		}

		a {
			text-decoration: underline;
			letter-spacing: 1px;
			color: #e42b2b;
			&:hover{
				color: #de3429;
			}
		}

	}


	.post_footer {
		padding: 10px 0 30px 0;
		.meta {
			max-width: 100%;
			height: 25px;
			color: #bbbbbb;

			.info {
				float: left;
				font-size: 11px;
			  	a{
					text-decoration: none;
    				color: #999;
			  	}
				.date{
					margin-right: 0px;
				}
			}

			.field{
				margin-right: 0px;
				color: #999;
				font-size: 14px;
			}
			.tags{
				a {
					text-decoration: none;
					color: #999;
					padding-right: 6px;
					&:hover{
						color: #999;
					}
				}
			}
		}
	}
}

.category-info:after{
		clear:both;
	}

.category-info{
	
	.category-img{
		width: 100px;
		height: 100px;
	  	border-radius: 3px;
    	float: left;
    	margin-bottom: 30px;
	  	margin-right: 15px;
    	background-size: cover;
    	background-position: center;
  	}
	.category-words{
		float:left;
		.category-description{
		  color: rgba(0, 0, 0, 0.44);
		}
	  	.category-title, {
			font-size: 28px;
		}
	}
}

.categories-img{
	width: 42px;
    height: 42px;
    float: left;
    margin-right: 15px;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
}

.categories-list{
	margin: 15px 0;
 	margin: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding-bottom: 15px;
  	a{
	  text-decoration: none;
	  &:hover{
	  	text-decoration: none;
	  }
  	}
	.categories-title{
		font-size: 14px;
		font-weight: 700;
		line-height: 1.4;
	    color: rgba(0,0,0,.8);
	}
  	.categories-description{
		font-size: 12px;
		color: rgba(0,0,0,.44);
  	}
}

.post-info{
	margin: 45px auto;
  	.field{
		margin-right: 0px;
		color: #999;
		font-size: 14px;
	  a{
	  	color:#999;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	  }
	}
  	.tags{
		a {
			text-decoration: none;
			color: #999;
			padding-right: 6px;
			&:hover{
				color: #999;
			}
		}
	}
  .middotDivider:after{
		content: "/";
		margin-left: 8px;
		margin-right: 8px;
	}
}


.footer {
	clear: both;
	max-width: 780px;
	text-align: center;
	font-size: 12px;
	padding: 60px 0px;
	margin: 0 auto;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	
  	.menu_btn{
  		display: none;
  	}
  
  	.site_nav_wrap{
  		float:none;
  	}
  
	a {
	  	font-size:14px;
	  	color:#333;
		margin:0px 12px;
	  	text-decoration: none;
		&:hover{
			color: #333;
		  	text-decoration: underline;
		}
	}

	.bitcron_nav_container{
		.site_nav_wrap{
			text-align: center;
		}
		.site_nav{
			display: inline-block;
			float: none;
			a{
				font-size: 13px;
				color: #666;
				&.current{
					color: #222;
				}
			}
		}
	}

	.powered_by{
		margin: 0;
		font-size: 11px;
		a{
		  	font-size:14px;
			color: #333;
			margin: 0px 2px;
			&:hover{
			}
		}
	}

	.footer_slogan{
		padding-top: 25px;
		padding-bottom: 10px;
		color: #000;
		font-size: 16px;
		letter-spacing: 1px;
	}

}


@media screen and (max-width:768px) {
	.footer .bitcron_nav_container .site_nav_wrap{
	}
}






/*for archive*/
.list_with_title{
	font-size: 14px;
    margin: 0;
	padding: 0;

	li {
        list-style-type: none;
        padding: 0;
    }

	.listing_title {
		font-size: 1.4rem;
		color: #1F1F1F;
		font-weight: bold;
		padding-top: 10px;
		line-height: 2.2em;
	}
	.listing{
		margin: 0 0 50px 0;
        padding: 0;
		line-height: 2.1;

		.listing_post {
			padding-bottom: 5px;
		  	a{
			 	 text-decoration: none;
		  	}
			.post_time {
				float: right;
				color: #C5C5C5;
				font-size: 12px;
			}

			 a {
				 &:hover{
				 }
			}

		}
	}
}




.doc_comments{
	font-size: 14px;
	color: #383838;
	.comment{
		small{
			font-size: 70%;
		}
	}
}


.pagination {
	padding: 30px 20px 60px 20px;
	color: #666;
	font-size: 14px;
	text-align: center;
	a {
		 color: #888;
		text-decoration: none;
		border: 1px solid;
		padding: 5px 7px;
		border-radius: 4px;
		font-size: 12px;
		&:hover{
		}
	}
  	.pre{
  		float:left;
  	}
  	.next{
  		float:right;
  	}
}





.markdown {
	color: #555;

	h1, h2, h3, h4, h5, h6 {
		margin: 2.5em 0 1.3em 0;
		color: #000;
	}

	h1{
		font-size: 1.35em;
	}
	h2{
		font-size: 1.25em;
	}
	h3{
		font-size: 1.15em;
	}
	h4{
		font-size: 1.1em;
	}


	pre{
		border: 1px solid #e6e6e6;
		border-left: none;
		border-right: none;
		margin-top: 1.2em;
		margin-bottom: 2.2em;
		padding: 15px 20px;
		display: block;
		overflow: auto;
		background: #fdfdfd;
	}
	
  	span.md_line{
  		margin-bottom: 20px!important;
  	}

	blockquote,.stressed {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 2.5em 0;
		padding: 0 0 0 50px;
		font-style: italic;
		color: #555;
		border-left: none;
	}

  	blockquote{
  		margin-left: -23px;
    	color: rgba(0,0,0,.7);
    	font-size: 16px;
    	border-left: 3px solid rgba(0,0,0,.8);
    	font-weight: 400;
    	letter-spacing: .01rem;
    	margin: 30px 0;
    	padding-left: 20px;
  	}
	strong,b,em{
		padding: 1px 2px;
		background-color: #fcfcf0;
		font-weight: normal;
	}
}




@media screen and (max-width: 900px) {

	.main{
		width: 95%;
		margin-top:20px;
	}
	.header {
		width: 92%;
	}

	.post_page{
		padding-top: 0px;
	}
	.footer a{
			margin:0px 6px;
	}
	.about{
		padding-bottom: 400px;
	}
	.post {
		margin-top: 40px;
	}

	.post_footer {
		padding-bottom: 30px;
	}

}







/*animation starts*/
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-3px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-3px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-3px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-3px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/*animation ends*/

/* post-preview --------*/
.post-preview{
    max-width:780px;margin:1em auto;position:relative;display:flex;background:#fff;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.25);
    .post-preview--meta{
        width:75%;padding:25px;
        .post-preview--middle {line-height:28px;}
        .post-preview--title {
            font-size:18px;margin:0;
            a{text-decoration:none;}
        }
        .post-preview--date{font-size:14px;color:#999;}
    }
    .post-preview--excerpt{
        font-size:14px;line-height:1.825;
        p{margin-bottom:0;}
    }
    .post-preview--image {width:25%;float:right;background-size:cover;background-position:center center;border-top-right-radius: 2px;border-bottom-right-radius:2px;}
}
@media (max-width:550px) {
    .post-preview {
        width:95%;
        .post-preview--image {width:40%;}
        .post-preview--meta {
            width: 60%;
            .post-preview--excerpt{display:none;}
        }
    }
}

@media (max-width:650px) {
  .search{
  	display:none;
  }
}